# Scrape Carvana

* You only need to fetch a single page of vehicle results. e.g., go to https://www.carvana.com/cars and click [Next] page -- Notice it refreshes the inventory without refreshing the page.

* Create a simple MySQL schema for storing these records and include the necessary create table(s) SQL. We are interested in the following fields: vehicle_id, vin, make, model, mileage, price

* How would you extend this to fetch all the vehicle inventory? (Code is not necessary)

In [52]:
# function fetch_carvana_inventory_by_page(int $page_id) : array {
#     // Fetch a single page of vehicles
#     // return an array of vehicle records
#     return [];
# }
# 
# function save_carvana_inventory(array $vehicle) : bool {
#     // Persist a single vehicle record to the database
#     // Return a boolean indicating success or failure
#     return true;
# }
# 
# foreach (fetch_carvana_inventory_by_page(2) as $vehicle) {
#     save_carvana_inventory($vehicle);
# }
#

### Load imports

In [70]:
from bs4 import BeautifulSoup
import requests
import json
import mysql.connector

### Scrape a singular car webpage

In [54]:
webpage = requests.get("https://www.carvana.com/cars")

In [55]:
soup = BeautifulSoup(webpage.text, "html.parser")

In [56]:
car_script_tags = soup.find_all("script", {"data-react-helmet": True})

In [57]:
len(car_script_tags)

22

In [58]:
car_jsons = [json.loads(car_script_tags[0].contents[0]) for car_script in car_script_tags]

In [59]:
car_jsons[0]

{'@context': 'http://schema.org',
 '@type': 'Vehicle',
 'itemCondition': 'Used',
 'name': '2020 Buick Encore GX',
 'modelDate': '2020',
 'manufacturer': 'Buick',
 'model': 'Encore GX',
 'color': 'Gray',
 'image': '//cdnblob.fastly.carvana.io/2001026852/post-large/normalized/zoomcrop/2001026852-edc-02.jpg',
 'brand': 'Buick',
 'description': 'Used 2020 Buick Encore GX undefined with 273 miles - $26990',
 'mileageFromOdometer': '273',
 'sku': '2001026852',
 'vehicleIdentificationNumber': 'KL4MMBS27LB101541',
 'offers': {'@type': 'Offer',
  'price': '26990',
  'priceCurrency': 'USD',
  'availability': 'http://schema.org/InStock',
  'priceValidUntil': 'January 1, 2030',
  'url': 'https://www.carvana.com/vehicle/1809150'}}

### Connect to Database
We assume that prior to running this python code we have ran the sql script to create the database and insert the table we want to use.

The script can be run via mysql. Install mysql and login with 'mysql -uroot' and run 'source carvana.sql' assuming the script is in the same dir you were in when logging into mysql.

In [60]:
my_db = mysql.connector.connect(
    user='root',
    host='localhost',
    database='carvana',
    buffered=True,
)
cursor = my_db.cursor()

### Load a single page of cars into the database

In [61]:
car = car_jsons[0]

In [62]:
add_car = """INSERT INTO `cars` (`id`,`vehicle_id`,`vin`,`make`,`model`,`mileage`,`price`) VALUES ({},{},'{}','{}','{}',{},{})""".format(
    1,
    car['sku'],
    car['vehicleIdentificationNumber'],
    car['manufacturer'],
    car['model'],
    car['mileageFromOdometer'],
    car['offers']['price']
)

print(add_car)

INSERT INTO `cars` (`id`,`vehicle_id`,`vin`,`make`,`model`,`mileage`,`price`) VALUES (1,2001026852,'KL4MMBS27LB101541','Buick','Encore GX',273,26990)

In [63]:
cursor.execute(add_car)

In [64]:
# save results
my_db.commit()
cursor.close()

True

## Put the above into requested functions

In [65]:
#Fetch a single page of vehicles
#return an array of vehicle records
def fetch_carvana_inventory_by_page(page):
    webpage = requests.get("https://www.carvana.com/cars?email-capture=&page={}".format(page))
    soup = BeautifulSoup(webpage.text, "html.parser")
    car_script_tags = soup.find_all("script", {"data-react-helmet": True})
    car_jsons = [json.loads(car_script.contents[0]) for car_script in car_script_tags]
    return car_jsons

In [66]:
# Persist a single vehicle record to the database
# Return a boolean indicating success or failure
def save_carvana_inventory(vehicle):
    add_vehicle = """INSERT INTO `cars` (`vehicle_id`,`vin`,`make`,`model`,`mileage`,`price`) VALUES ({},'{}','{}','{}',{},{})""".format(
        vehicle['sku'],
        vehicle['vehicleIdentificationNumber'],
        vehicle['manufacturer'],
        vehicle['model'],
        vehicle['mileageFromOdometer'],
        vehicle['offers']['price']
    )
    cursor.execute(add_vehicle)
    return my_db.commit()

In [67]:
# Loops through and saves all cars for each page
def gen_results(page_to_stop_on):
    page_count = 1
    while page_count <= page_to_stop_on:
        try:
            for vehicle in fetch_carvana_inventory_by_page(page_count):
                save_carvana_inventory(vehicle)
        except Exception as e:
            print("Can't get anymore pages.\n{}".format(e))
            break
        page_count += 1

In [76]:
# Connect to local mysql instance
my_db = mysql.connector.connect(
    user='root',
    host='localhost',
    database='carvana',
    buffered=True,
)
cursor = my_db.cursor()

In [82]:
# Get 5 pages worth of results
gen_results(5)

### Query the data in the db to examine it

In [107]:
# get all rows in db
cursor.execute("select * from cars limit 15")

In [108]:
for result in cursor:
    print(result)

(1, 2000928806, 'JHMGE8H49AC024561', 'Honda', 'Fit', 47133, 12990)
(2, 2001026698, '3C3CFFBR0FT642759', 'FIAT', '500', 41832, 14990)
(3, 2001017278, '3VWC57BUXKM273998', 'Volkswagen', 'Jetta', 10902, 19590)
(4, 2001037287, '3N1AB7AP5KY360606', 'Nissan', 'Sentra', 11966, 19990)
(5, 2001032052, '3KPF34AD7ME361345', 'Kia', 'Forte', 54545, 23990)
(6, 2001032126, 'JM1NDAC75G0106088', 'Mazda', 'MX-5 Miata', 11756, 27990)
(7, 2000937490, '1LN6L9SK1H5618149', 'Lincoln', 'Continental', 54545, 28990)
(8, 2001030852, 'JF1VA1A62L9824938', 'Subaru', 'WRX', 8427, 31990)
(9, 2001026340, '19UDE2F36KA013897', 'Acura', 'ILX', 7771, 26590)
(10, 2001023474, '1FM5K7D88EGB79195', 'Ford', 'Explorer', 60612, 22590)
(11, 2001030703, 'KMHC75LH5JU023920', 'Hyundai', 'Ioniq Electric', 40410, 20590)
(12, 2001019415, '5UXWZ7C38H0V87475', 'BMW', 'X3', 36156, 28590)
(13, 2001019465, 'JTHBA1D20H5059067', 'Lexus', 'IS', 30378, 29990)
(14, 2001028699, '3GNCJLSB0JL243586', 'Chevrolet', 'Trax', 14185, 19990)
(15, 2000956989, 'WVWKR7AU9KW908326', 'Volkswagen', 'e-Golf', 12226, 20990)